infra/workflows/secret-scan-to-ado.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "adoOrganization": {
      "type": "String"
    },
    "adoProject": {
      "type": "String"
    },
    "adoPat": {
      "type": "SecureString"
    },
    "workItemType": {
      "type": "String",
      "defaultValue": "Bug"
    }
  },
  "triggers": {
    "When_a_Secret_Alert_Is_Received": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {}
      }
    }
  },
  "actions": {
    "Compose_EventType": {
      "type": "Compose",
      "inputs": "@triggerBody()?['eventType']",
      "runAfter": {}
    },
    "Compose_AlertType": {
      "type": "Compose",
      "inputs": "@toLower(coalesce(triggerBody()?['resource']?['alertType'], 'unknown'))",
      "runAfter": {}
    },
    "Compose_SecretType": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['secretType'], triggerBody()?['resource']?['rule']?['name'], 'unknown-secret')",
      "runAfter": {}
    },
    "Compose_Severity": {
      "type": "Compose",
      "inputs": "@toLower(coalesce(triggerBody()?['resource']?['severity'], 'high'))",
      "runAfter": {}
    },
    "Compose_AlertId": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['alertId'], triggerBody()?['resource']?['id'], 0)",
      "runAfter": {}
    },
    "Compose_RepoName": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['repository']?['name'], 'unknown-repo')",
      "runAfter": {}
    },
    "Compose_FilePath": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['location']?['file'], triggerBody()?['resource']?['location']?['path'], 'N/A')",
      "runAfter": {}
    },
    "Compose_LineNumber": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['location']?['line'], 'N/A')",
      "runAfter": {}
    },
    "Compose_AlertUrl": {
      "type": "Compose",
      "inputs": "@coalesce(triggerBody()?['resource']?['link'], triggerBody()?['resource']?['url'], '')",
      "runAfter": {}
    },
    "Condition_IsSecret": {
      "type": "If",
      "expression": {
        "and": [
          {
            "equals": [
              "@outputs('Compose_AlertType')",
              "secret"
            ]
          }
        ]
      },
      "runAfter": {
        "Compose_AlertType": [ "Succeeded" ],
        "Compose_EventType": [ "Succeeded" ],
        "Compose_SecretType": [ "Succeeded" ],
        "Compose_Severity": [ "Succeeded" ],
        "Compose_AlertId": [ "Succeeded" ],
        "Compose_RepoName": [ "Succeeded" ],
        "Compose_FilePath": [ "Succeeded" ],
        "Compose_LineNumber": [ "Succeeded" ],
        "Compose_AlertUrl": [ "Succeeded" ]
      },
      "actions": {
        "Compose_GhasTag": {
          "type": "Compose",
          "inputs": "@concat('GHAzDO-Secret-', outputs('Compose_RepoName'), '-', string(outputs('Compose_AlertId')))",
          "runAfter": {}
        },
        "Compose_IsCreateEvent": {
          "type": "Compose",
          "inputs": "@or(equals(outputs('Compose_EventType'), 'advancedsecurity.alert.created'), contains(string(outputs('Compose_EventType')), 'created'))",
          "runAfter": {}
        },
        "Compose_Title": {
          "type": "Compose",
          "inputs": "@concat('[Secret] ', outputs('Compose_SecretType'), ' detected in ', outputs('Compose_RepoName'))",
          "runAfter": {
            "Compose_GhasTag": [ "Succeeded" ]
          }
        },
        "Compose_Tags": {
          "type": "Compose",
          "inputs": "@concat('GHAzDO;secret;', outputs('Compose_SecretType'), ';', outputs('Compose_Severity'), ';', outputs('Compose_GhasTag'))",
          "runAfter": {
            "Compose_GhasTag": [ "Succeeded" ]
          }
        },
        "Compose_Description": {
          "type": "Compose",
          "inputs": "@concat('<h3>GHAzDO Secret Scanning Alert</h3><table border=\"1\" cellpadding=\"5\" style=\"border-collapse:collapse\"><tr><td><b>Secret Type</b></td><td>', outputs('Compose_SecretType'), '</td></tr><tr><td><b>Severity</b></td><td>', outputs('Compose_Severity'), '</td></tr><tr><td><b>Repository</b></td><td>', outputs('Compose_RepoName'), '</td></tr><tr><td><b>File</b></td><td>', outputs('Compose_FilePath'), '</td></tr><tr><td><b>Line</b></td><td>', string(outputs('Compose_LineNumber')), '</td></tr><tr><td><b>Alert ID</b></td><td>', string(outputs('Compose_AlertId')), '</td></tr><tr><td><b>Dedup Tag</b></td><td>', outputs('Compose_GhasTag'), '</td></tr></table><p><b>Action Required:</b> Rotate or revoke the exposed credential immediately, then push a remediation commit.</p><p><a href=\"', outputs('Compose_AlertUrl'), '\">View Alert in Azure DevOps Advanced Security</a></p><hr/><p><i>Auto-created by GHAzDO Secret Scan Logic App</i></p>')",
          "runAfter": {
            "Compose_GhasTag": [ "Succeeded" ]
          }
        },
        "Condition_IsCreateAction": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose_IsCreateEvent')",
                  true
                ]
              }
            ]
          },
          "runAfter": {
            "Compose_IsCreateEvent": [ "Succeeded" ],
            "Compose_Title": [ "Succeeded" ],
            "Compose_Tags": [ "Succeeded" ],
            "Compose_Description": [ "Succeeded" ]
          },
          "actions": {
            "HTTP_QueryExistingWorkItem": {
              "type": "Http",
              "inputs": {
                "uri": "https://dev.azure.com/@{parameters('adoOrganization')}/@{encodeURIComponent(parameters('adoProject'))}/_apis/wit/wiql?api-version=7.1",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json",
                  "Authorization": "Basic @{base64(concat(':', parameters('adoPat')))}"
                },
                "body": {
                  "query": "SELECT [System.Id] FROM WorkItems WHERE [System.Tags] CONTAINS '@{outputs('Compose_GhasTag')}' AND [System.State] <> 'Removed'"
                }
              },
              "runAfter": {}
            },
            "Condition_NoExistingWorkItem": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('HTTP_QueryExistingWorkItem')?['workItems'])",
                      0
                    ]
                  }
                ]
              },
              "runAfter": {
                "HTTP_QueryExistingWorkItem": [ "Succeeded" ]
              },
              "actions": {
                "HTTP_CreateWorkItem": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://dev.azure.com/@{parameters('adoOrganization')}/@{encodeURIComponent(parameters('adoProject'))}/_apis/wit/workitems/$@{parameters('workItemType')}?api-version=7.1",
                    "method": "PATCH",
                    "headers": {
                      "Content-Type": "application/json-patch+json",
                      "Authorization": "Basic @{base64(concat(':', parameters('adoPat')))}"
                    },
                    "body": [
                      {
                        "op": "add",
                        "path": "/fields/System.Title",
                        "value": "@{outputs('Compose_Title')}"
                      },
                      {
                        "op": "add",
                        "path": "/fields/System.Description",
                        "value": "@{outputs('Compose_Description')}"
                      },
                      {
                        "op": "add",
                        "path": "/fields/System.Tags",
                        "value": "@{outputs('Compose_Tags')}"
                      },
                      {
                        "op": "add",
                        "path": "/fields/Microsoft.VSTS.Common.Priority",
                        "value": "@if(or(equals(outputs('Compose_Severity'),'critical'),equals(outputs('Compose_Severity'),'high')), 1, if(equals(outputs('Compose_Severity'),'medium'), 2, 3))"
                      }
                    ]
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "else": {
            "actions": {
              "HTTP_FindWorkItemToClose": {
                "type": "Http",
                "inputs": {
                  "uri": "https://dev.azure.com/@{parameters('adoOrganization')}/@{encodeURIComponent(parameters('adoProject'))}/_apis/wit/wiql?api-version=7.1",
                  "method": "POST",
                  "headers": {
                    "Content-Type": "application/json",
                    "Authorization": "Basic @{base64(concat(':', parameters('adoPat')))}"
                  },
                  "body": {
                    "query": "SELECT [System.Id] FROM WorkItems WHERE [System.Tags] CONTAINS '@{outputs('Compose_GhasTag')}' AND [System.State] <> 'Done' AND [System.State] <> 'Removed'"
                  }
                },
                "runAfter": {}
              },
              "Condition_FoundWorkItemToClose": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('HTTP_FindWorkItemToClose')?['workItems'])",
                        0
                      ]
                    }
                  ]
                },
                "runAfter": {
                  "HTTP_FindWorkItemToClose": [ "Succeeded" ]
                },
                "actions": {
                  "HTTP_CloseWorkItem": {
                    "type": "Http",
                    "inputs": {
                      "uri": "https://dev.azure.com/@{parameters('adoOrganization')}/@{encodeURIComponent(parameters('adoProject'))}/_apis/wit/workitems/@{body('HTTP_FindWorkItemToClose')?['workItems'][0]?['id']}?api-version=7.1",
                      "method": "PATCH",
                      "headers": {
                        "Content-Type": "application/json-patch+json",
                        "Authorization": "Basic @{base64(concat(':', parameters('adoPat')))}"
                      },
                      "body": [
                        {
                          "op": "add",
                          "path": "/fields/System.State",
                          "value": "Done"
                        },
                        {
                          "op": "add",
                          "path": "/fields/System.History",
                          "value": "<p><b>Secret remediated</b> — GHAzDO alert resolved or dismissed.</p><p>Alert ID: @{outputs('Compose_AlertId')} | Repo: @{outputs('Compose_RepoName')} | Secret Type: @{outputs('Compose_SecretType')}</p><p><i>Auto-closed by GHAzDO Secret Scan Logic App</i></p>"
                        }
                      ]
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                }
              }
            }
          }
        }
      },
      "else": {
        "actions": {
          "Terminate_NonSecret": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            },
            "runAfter": {}
          }
        }
      }
    }
  }
}
